#resultadoConglomerado tbody tr:nth-of-type(odd), #resultadoEstratificado tbody tr:nth-of-type(odd){
  background-color:#C1B7FF;
  
}
.parrafo{
  height:200px;
}


#muestra, #resultadoSistematico{
  padding:50px;
  color: black ; 
  font-size:30px ;
  text-align: center;
  border-radius: 10px;
  border-color:#CDCCCC;
  background: #F7F7F7 ;
 
  
}
#go,#generarSistematico,#generarEstratificado,#generarConglomerado{
  background: #001444;
  width: 100%;
}
.navbar{
  position:fixed;
  width:100%;
}
.modal-header h2{
  text-align:center;
}



.titulo {
  text-align:center;
}
.divInicio{
  width:80%;
  margin-right:10%;
  margin-left:10%;
}
.divInicio img{
  width:100%;
}
.parrafo{
  text-align:center;
  color:black;
  font-size:20px;
}
.cuerpoNosotros{
  width:90%;
  margin-right:5%;
  margin-left:5%;
  
}
.persona{
  float:left;
  width:33%;
  text-align:center;
}
.persona img{
  width:100%;
  border-radius:80%;
}
footer{
  background: #2c3e50;
  height:100px;
  text-align:center;
  color:white;
}
footer img{
  float:left;
  height:100px;
}